{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load discounted_price %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}


{% block title %}
    Megano
{% endblock %}

<body class="Site">

{% block Header-slider %}
    <div class="Header-slider">
            <div class="Slider Slider_main">
              <div class="Slider-box">

                  {% for slider in sliders %}

                        <div class="Slider-item">
                          <div class="Slider-content">
                            <div class="row">
                              <div class="row-block">
                                <strong class="Slider-title">{{ slider.product.name }}</strong>
                                <div class="Slider-text">{{ slider.description }}</div>
                                <div class="Slider-footer"><a class="btn btn_primary" href="{% url 'productsapp:product_detail' slider.product.id %}">{% translate 'Get Started' %}</a>
                                </div>
                              </div>
                              <div class="row-block">
                                <div class="Slider-img"><img src="{{ slider.product.product_images.first.image.url }}" alt="slider.png"/>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                  {% endfor %}

              </div>
              <div class="Slider-navigateWrap">
                <div class="Slider-navigate">
                </div>
              </div>
            </div>
        </div>

{% endblock %}

{% block content %}
    <div class="Middle">
        <div class="Section">
            <div class="wrap">
                <div class="BannersHome">

                    {% cache 600 banners LANGUAGE_CODE %}
                        {% for banner in banners %}
                            <a class="BannersHomeBlock" href="{% url 'productsapp:catalog' %}?category={{banner.category.name}}">
                                <div class="BannersHomeBlock-row">

                                    <div class="BannersHomeBlock-block">
                                        <strong class="BannersHomeBlock-title">{{ banner.category.name }}</strong>
                                        <div class="BannersHomeBlock-content">{% translate 'from' %} <span class="BannersHomeBlock-price">{{banner.min_price}} &#8381;</span>
                                        </div>
                                    </div>

                                <div class="BannersHomeBlock-block">
                                    <div class="BannersHomeBlock-img"><img src="{{ banner.image.url }}" alt="videoca.png" />
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    {% endcache %}

                </div>
            </div>
        </div>
        <div class="Section Section_column Section_columnLeft Section_columnDesktop">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection Section-columnSection_mark">
                      <header class="Section-columnHeader">
                        <strong class="Section-columnTitle">{% translate 'LIMITED OFFER' %}

                        </strong>
                      </header>
                      <div class="Card"><a class="Card-picture" href="{% url 'productsapp:product_detail' discounted.id %}"><img src="{{ discounted.product_images.first.image.url }}" alt="card.jpg"/></a>
                        <div class="Card-content">
                          <strong class="Card-title"><a href="{% url 'productsapp:product_detail' discounted.id %}">{{ discounted.name }}</a>
                          </strong>
                            {% with disc_price=discounted|discounted_price:discounted.price %}
                                            <div class="Card-description">
                                                <div class="Card-cost"><span class="Card-priceOld">{{discounted.price}} &#8381;</span><span class="Card-price">{{ disc_price }} &#8381;</span>
                                                </div>
                                                <div class="Card-category">{{ discounted.category.name}}
                                                </div>
                                            </div>
                            {% endwith %}

                          <div class="CountDown" data-date="{{ discounted.product_discounts.first.expiration_date |date:"d.m.Y"}} 00:00">
                            <div class="CountDown-block">
                              <div class="CountDown-wrap">
                                <div class="CountDown-days">
                                </div><span class="CountDown-label">{% translate 'days' %}</span>
                              </div>
                            </div>
                            <div class="CountDown-block">
                              <div class="CountDown-wrap">
                                <div class="CountDown-hours">
                                </div><span class="CountDown-label">{% translate 'hours' %}</span>
                              </div>
                            </div>
                            <div class="CountDown-block">
                              <div class="CountDown-wrap">
                                <div class="CountDown-minutes">
                                </div><span class="CountDown-label">{% translate 'mins' %}</span>
                              </div>
                            </div>
                            <div class="CountDown-block">
                              <div class="CountDown-wrap">
                                <div class="CountDown-secs">
                                </div><span class="CountDown-label">{% translate 'secs' %}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="Section-content">
                    <header class="Section-header">
                        <h2 class="Section-title">{% translate 'Popular products' %}
                        </h2>
                    </header>
                    <div class="Cards">

                        {% cache 86400 popular_products LANGUAGE_CODE %}
                            {% for product in populars %}

                                <div class="Card"><a class="Card-picture" href="{% url 'productsapp:product_detail' product.id %}"><img src="{{ product.product_images.first.image.url }}" alt="card.jpg" /></a>
                                    <div class="Card-content">
                                        <strong class="Card-title"><a href="{% url 'productsapp:product_detail' product.id %}">{{ product.name }}</a>
                                        </strong>
                                        <div class="Card-description">
                                            {% with disc_price=product|discounted_price:product.price %}
                                                {% if disc_price %}
                                                    <div class="Card-cost"><span class="Card-price discounted_price">{{product.price}} &#8381;</span>
                                                    </div>
                                                    <div class="Card-cost"><span class="Card-price">{{ disc_price }} &#8381;</span>
                                                    </div>
                                                {% else %}
                                                    <div class="Card-cost"><span class="Card-price">{{ product.price }} &#8381;</span>
                                                    </div>
                                                {% endif %}
                                            {% endwith %}
                                            <div class="Card-category">{{ product.category.name }}
                                            </div>
                                            <div class="Card-hover">
                                                <a class="Card-btn" onclick="AddToCart('{% url 'cartapp:ajax_add_product' %}', {{product.pk}}, {{product.seller_id}} )">
                                                <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        {% endcache %}


                    </div>
                </div>
            </div>
        </div>
        <div class="Section Section_column Section_columnRight">
            <div class="wrap">
                <div class="Section-content">
                    <div class="Slider Slider_carousel">
                        <header class="Section-header Section-header_close">
                            <h2 class="Section-title">{% translate 'Limited edition' %}
                            </h2>
                            <div class="Section-control">
                                <div class="Slider-navigate">
                                </div>
                            </div>
                        </header>
                        <div class="Slider-box Cards">

                            {% for product in limited %}
                                <div class="Slider-item">
                                    <div class="Slider-content">
                                        <div class="Card"><a class="Card-picture" href="{% url 'productsapp:product_detail' product.id %}"><img src="{{ product.product_images.first.image.url }}" alt="card.jpg" /></a>
                                            <div class="Card-content">
                                                <strong class="Card-title"><a href="#">{{ product.name }}</a>
                                                </strong>
                                                <div class="Card-description">
                                                    {% with disc_price=product|discounted_price:product.price %}
                                                        {% if disc_price %}
                                                            <div class="Card-cost"><span class="Card-price discounted_price">{{product.price}} &#8381;</span>
                                                            </div>
                                                            <div class="Card-cost"><span class="Card-price">{{ disc_price }} &#8381;</span>
                                                            </div>
                                                        {% else %}
                                                            <div class="Card-cost"><span class="Card-price">{{ product.price }} &#8381;</span>
                                                            </div>
                                                        {% endif %}
                                                    {% endwith %}
                                                    <div class="Card-category">{{ product.category.name }}
                                                    </div>
                                                    <div class="Card-hover"><a class="Card-btn" onclick="AddToCart('{% url 'cartapp:ajax_add_product' %}', {{product.pk}}, {{product.seller_id}} )"><img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="modal_open" class="my_modal">
    <div class="my_modal-dialog">
        <div class="my_modal-content">
            <div class="my_modal-header">
                <p class="my_modal-title">{% translate 'Congratulations' %}!</p>
                <a href="#" title="Закрыть модальное окно" class="close">×</a>
            </div>
            <div class="my_modal-body">
                <p>{% translate 'Product successfully added to cart' %}!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</body>

</html>