{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block Header-searchWrap %}
{% endblock %}

{% block Header-slider %}
{% endblock %}

{% block wrap %}
<div class="wrap">
    <div class="row Header-rowMain">
        <div class="row-block Header-logo"><a class="logo" href="{% url 'coreapp:index' %}"><img class="logo-image"
                                                                                     src="{% static 'assets/img/logo.png' %}"
                                                                                     alt="logo.png"/></a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">{% translate 'Password recovery (1/2)' %}</h3>
        <h5 class="set-pass">{% translate 'To retrieve your password, enter the e-mail address where your account is registered account' %}</h5>
    </div>

    <form action="{% url 'authapp:forgot_pass' %}" method="post">{% csrf_token %}

        <div>
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            {{ form.email }}
            <!--            <input class="user-input" type="email" name="login" id="name" placeholder="E-mail"/>-->
        </div>
        <div>
            <input type="submit" value="{% translate 'Get a verification code' %}"/>
        </div>
        <a class="registr" href="{% url 'authapp:login' %}">
            {% translate 'Log in' %}
        </a>
    </form>
</div>
{% endblock %}