{% extends 'authapp/email/base-for-messages.html' %}
{% load static %}
{% load i18n %}
{% autoescape off %}
{% block content %}
{% block container %}
<h1>{% translate 'Dear' %} {{user.first_name}} {{user.last_name}}</h1>
<p>{% translate 'We have received a request to create a new password for your personal account on the portal' %}
    <a href="{{ protocol }}://{{ domain }}{% url 'coreapp:index' %}">Megano</a>
</p>
<p>{% translate 'To change your password, please click on the button' %}</p>
<a class="pass" href="{{ protocol }}://{{ domain }}{% url 'authapp:set_pass' uidb64=uid token=token %}">{% translate 'Change password' %}</a>
<p>{% translate 'If you have not sent such a request, simply ignore the letter.' %}</p>
<p>{% translate 'Respectfully,' %}</p>
<p>Megano</p>
{% endblock %}
{% endblock %}
{% endautoescape %}